/* CSS RESET */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* CUSTOM FONTS */

@font-face {
    font-family: "Coolvetica Rg";
    src: url("Fonts/Coolvetica/coolvetica\ rg.otf");
}

@font-face {
    font-family: "Coolvetica Rg It";
    src: url("Fonts/Coolvetica/coolvetica\ rg\ it.otf");
}

@font-face {
    font-family: "Helvetica Bold";
    src: url("Fonts/Helvetica/Helvetica-Bold.ttf");
}

@font-face {
    font-family: "Helvetica Oblique";
    src: url("Fonts/Helvetica/Helvetica-Oblique.ttf");
}

@font-face {
    font-family: "Helvetica";
    src: url("Fonts/Helvetica/Helvetica.ttf");
}

body {
    background-color: black;
    color: #ffffff;
    position: relative;

}

a {
    color: #ffffff;
    text-decoration: none;
}

.header-wrapper {

    margin: 20px 16px 0 16px;
    position: fixed;
    z-index: 1000;
}

.content {
    min-height: 100vh;
    width: 100%;
    z-index: -1;
}


.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.center-left-aligned {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-grid {
    display: grid;
    grid-template-columns: 100fr 1fr;
    grid-template-rows: 2fr;
}

.header-grid-2 {
    text-align: right;
}

.header-grid-logo img,
.header-grid-logo-2 img {
    height: 80px;
}

.header-grid-menu {
    font-family: "Coolvetica Rg", Arial;
    font-size: 12px;
    text-align: right;
}

.header-grid-menu a {
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 1.2;

}


/* footer */
.footer-wrapper {
    position: fixed;
    z-index: 1000;
    width: 100%;
    bottom: 0;
}

.footer {
    font-family: "Coolvetica Rg", Arial, sans-serif;
    font-size: 12px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    text-transform: uppercase;
    z-index: 2;
    margin-bottom: 16px;
}

.footer-left {
    text-align: left;
    padding-left: 16px;
}

.footer-centre {
    text-align: center;
}

.footer-right {
    text-align: right;
    padding-right: 16px;
}

.footer-left div,
.footer-right div {
    margin-top: 2px;
}

.DICK{
    overflow: hidden;
}

/* infinite autoplay carousel */

@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        -webkit-transform: translateX(calc(-20vw * 5));
        transform: translateX(calc(-20vw * 5));
    }
}
    @keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
    -webkit-transform: translateX(calc(-20vw * 5));
    transform: translateX(calc(-20vw * 5));
    }
    }
   

    .slide-track {
        -webkit-animation: scroll 5s linear infinite;
        animation: scroll 5s linear infinite;
        display: flex;
        align-items: center;
    }
   
    .frame img {
    width: 20vw;
    }

/* Landind Message Grid */
.custom-container{
    display: flex;
    justify-content: center;
}

.custom-container-slider{
    text-align: center; /* Center content horizontally */
}

.custom-box-slider{
    font-family: "Coolvetica Rg", Arial;
    display: inline-block;
    text-align: left; /* Reset text alignment for nested content */
    padding: 50px;
}

.custom-box {
    /* border: 1px solid white; */
    width: 10vw;
    /* Adjust the width as needed */
    height: 10vh;
    /* Adjust the height as needed */
    padding: 10px;
    margin-right: 10px;
    word-wrap: break-word;
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-box-2 {
    /* Adjust the width as needed */
    /* Adjust the height as needed */
    padding: 10px;
    margin-right: 10px;
    word-wrap: break-word;
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-box-2-2 {
    /* width: max-content; */
    /* Adjust the width as needed */
    /* heigh    t: 10vh; */
    /* Adjust the height as needed */
    padding: 10px;
    /* margin-right: 10px; */
    float: left;
    word-wrap: break-word;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
}

.custom-box-1 {
    text-transform: uppercase;
    font-family: "Coolvetica Rg", Arial;
    word-break: break-word;
    display: flex;
    /* Add this line */
    flex-direction: column;
    /* Add this line */
}

.custom-box-1 span {
    text-decoration: underline;
    color: white;
}

.custom-box-2 svg {
    width: 37px;
    /* Adjust the SVG width as needed */
    height: 26px;
    /* Adjust the SVG height as needed */
}

.custom-box-3 {
    font-family: Helvetica;
    font-size: 10px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
}



#sinusoidal {
    font-family: "Coolvetica Rg", Arial;
    position: absolute;
    z-index: -2;
    color: #ffffff;

}

#sinusoidal-text {
    text-transform: uppercase;
}

.services-title {
    text-align: center;
    font-family: "Coolvetica Rg", Arial, sans-serif;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
}

.services-list {
    font-family: Helvetica;
    font-size: 50px;
    font-weight: 400;
    line-height: 70px;
    letter-spacing: 0em;
    text-align: center;
}

#services-fe-be {
    margin-top: 50px;
}

#asterix-icon {
    filter: brightness(0) invert(1);
    height: 37px;
    width: 38px;
    left: 0px;
    top: 0.00128173828125px;
    border-radius: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

.section-title {
    font-family: "Coolvetica Rg", Arial;
    text-transform: uppercase;
    padding: 16px;
}

.cases-left{
    margin-top: 100px;
    margin-bottom: 150px;
}

.cases {
    padding: 16px 0 16px 16px;
    /* display: grid;
    grid-template-columns: 2fr 1fr; */
    min-height: 90vh;
    width: 50%;
    display: inline-block;
}

.cases-links {
    width: max-content;
}

.cases-list {
    width: max-content;
    margin-bottom: 20px;
}

.cases-no {
    font-family: "Coolvetica Rg", Arial;
    display: inline-block;
    vertical-align: top;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
}

.cases-title {
    display: inline-block;
    vertical-align: top;
    text-transform: uppercase;
    font-family: Helvetica;
    font-size: 100px;
    font-weight: 400;
    line-height: 115px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: -17px;
}

.info-titles {
    text-transform: uppercase;
    font-family: Helvetica;
    font-weight: 400;
    text-align: right;
    font-size: 20px;
    margin-top: -100px;
    /* Initial font size using a percentage of the viewport height */

    /* Media queries for different screen sizes */
    @media (max-width: 600px) {
        font-size: 8vh;
        /* Adjust the font size for smaller screens */
    }

    @media (min-width: 601px) and (max-width: 1200px) {
        font-size: 10vh;
        /* Adjust the font size for medium-sized screens */
    }

    @media (min-width: 1201px) {
        font-size: 13vh;
        /* Keep the initial font size for larger screens */
    }
}
#email-address{
    display: inline-block;
}

#email-address:hover{
    text-decoration: underline;
}


.cases-subtitle {
    font-family: "Coolvetica Rg", Arial;
    display: inline-block;
    vertical-align: top;
    text-transform: uppercase;
    margin-left: 6px;
}


.cases-image-placeholder {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: 30%;
    margin-right: 5vw;
}

.cases-image {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cases-image img {
    max-height: 100%;
}

.column-right img {
    pointer-events: none;
}

#slider-viewheight{
    min-height: max-content;
    margin-bottom: 150px;
}

.slider-content {
    margin-top: 100px;
}

.slider-section {
    width: 1000px;
    margin: 0 auto;
    /* display: flex; */
    /* justify-content: center; */
}

.price,
.paragraph,
.list {
    display: inline-block;
    /* margin-right: 100px; */
}


.price-2 {
    /* display: inline-block; */
}

.price {
    text-transform: uppercase;
    font-family: Helvetica;
    font-size: 50px;
    font-style: italic;
    font-weight: 400;
    line-height: 57px;
    letter-spacing: 0em;
    width: 400px;
}

.price-2 {
    text-transform: uppercase;
    font-family: Helvetica;
    font-size: 50px;
    font-style: italic;
    font-weight: 400;
    line-height: 57px;
    letter-spacing: 0em;
    width: 400px;
}

.paragraph, .paragraph-2 {
    font-family: Helvetica;
    font-size: 12px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    margin-right: 24px;
}

.list {
    font-family: Helvetica;
    font-size: 12px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
}

.content-slider {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.slider-instruction {
    margin-left: 20%;
    margin-bottom: 25px;
    text-transform: uppercase;
    font-family: "Coolvetica Rg";
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    color: #4F4F4F;
}

.slider-instruction::before {
    content: url(Icons/forward.svg);
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
}

#slider-text {
    position: relative;
    top: -30px; /* adjust as needed */
  }

.slider-wrapper {
    margin-top: 30px;
    margin-bottom: 100px;
}

.slider {
    position: relative;
    width: 80%;
    height: 6px;
    background-color: transparent;
    border: 1px solid #F7F6F7;
    border-right: none;
    margin-left: auto;
    margin-right: auto;
}

.slider-faux {
    background-color: #F7F6F7;
    border: 1px solid #F7F6F7;
    width: 10%;
    height: 6px;
}

.slider-faux-2 {
    background-color: transparent;
    border: 1px solid #F7F6F7;
    border-left: none;
    border-right: none;
    /* Remove the right border */
    width: 10%;
    height: 6px;
}

.slider-faux {
    position: absolute;
    left: 0;
}

.slider-faux-2 {
    position: absolute;
    right: 0;
}

.slider-thumb {
    position: absolute;
    top: -9px;
    width: 40px;
    height: 30px;
    background-image: url('Logos/KNSTRKTV STUDIO - Symbol.svg');
    background-repeat: no-repeat;
    background-size: contain;
    transform: translateX(-50%);
    z-index: 9999 !important;
    transition: transform 0.3s ease-in-out; /* added transition property */
}


.slider-thumb-img-1 {
    position: absolute;
    top: -9px;
    width: 40px;
    height: 30px;
    background-image: url('Logos/KNSTRKTV STUDIO - Symbol.svg');
    background-repeat: no-repeat;
    background-size: contain;
    transform: translateX(-50%);
    z-index: 1 !important;
}

.slider-thumb-img-2 {
    position: absolute;
    top: -9px;
    left: 50%;
    width: 40px;
    height: 30px;
    background-image: url('Logos/KNSTRKTV STUDIO - Symbol.svg');
    background-repeat: no-repeat;
    background-size: contain;
    transform: translateX(-50%);
    z-index: 1 !important;
}

.slider-thumb-img-3{
    position: absolute;
    top: -9px;
    right: -20px;
    width: 40px;
    height: 30px;
    background-image: url('Logos/KNSTRKTV STUDIO - Symbol.svg');
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 1 !important;
}

.slider-thumb:first-of-type {
    left: 0;
}

.slider-thumb:last-of-type {
    right: 0;
}

.slider-thumb:hover {
    cursor: pointer;
}

.slider-value {
    position: absolute;
    font-weight: bold;
    color: white;
}

.slider-value:before {
    margin-right: 5px;
}

.slider .slider-progress {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: white;

    /* transition: width 0.3s ease-in-out; /* added transition property  */
}

.slider-progress {
    transition: width 0.3s ease-in-out; /* added transition property */
}

.content-part {
    display: none;
}

.active-content {
    display: block;
}


.svg-container {
    text-align: center;
    margin-top: 10vh;
    margin-bottom: 25vh;
}

#back-to-top:hover {
    cursor: pointer;
}

.email {
    display: flex;
    align-items: flex-start;
    justify-content: right;
}

#sticker-logo {
    display: inline-block;
    height: 20vh;
    margin-top: -40px;
    transform: translateY(50%) rotate(30.96deg);
    /* Rotate the image 45 degrees clockwise */
    margin-right: 5vh;
    margin-left: 5vh;
    margin-top: 5vh;
    margin-bottom: 5vh;

}



/* circle that moves around */

#textcontainer {
    padding-top: 20px;
}

#text-circle-container {
    position: relative;
    top: -100px;
    width: 60vh;
    height: 50vh;
    left: -35vh;
}

#text-circle {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-origin: center center;
}

.footer-wrapper-mobile {
    display: none;
}

#info-title-talk {
    margin-right: 16px;
}

/* .custom-bullet {
    list-style-image: url('Icons/Icon\ 1.svg');
}

li { 
    list-style-image: url('Icons/Icon\ 1.svg');
}  */

.custom-bullet {
    list-style: none;
    background: url('Icons/Icon 1.svg') no-repeat left center;
    padding-left: 20px;
}


#image-container{
    display: inline-block;
    width: max-content;
}

.image-container img {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.5s;
}

.rotating {
    animation: rotate 5s linear infinite;
}

@keyframes rotate {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}