/* This file contians the CSS styling for responsive mobile design */

/* Styles for mobile devices */
@media (max-width: 575px) {

    .slide-track {
        margin-top: 30vh;
        -webkit-animation: scroll 35s linear infinite;
        animation: scroll 35s linear infinite;
        display: flex;
        align-items: center;
    }

    .frame img {
        width: 35vw;
    }

    @keyframes scroll {
        0% {
            -webkit-transform: translateX(0);
            transform: translateX(0);
        }
    
        100% {
            -webkit-transform: translateX(calc(-35vw * 5));
            transform: translateX(calc(-35vw * 5));
        }
    }
    
    @keyframes scroll {
        0% {
            -webkit-transform: translateX(0);
            transform: translateX(0);
        }
    
        100% {
            -webkit-transform: translateX(calc(-35vw * 5));
            transform: translateX(calc(-35vw * 5));
        }
    }

   

    .header-grid {
        margin-top: 50px;
        grid-template-columns: 1fr 1fr;
    }

    .header-grid-logo img,
    .header-grid-logo-2 img {
        height: 40px;
    }

    .header-grid-menu {
        display: none;
    }

    .footer-wrapper {
        display: none;
    }

    .footer-wrapper-mobile {
        display: block;
        position: fixed;
        z-index: 1000;
        width: 100%;
        bottom: 16px;
    }

    .footer-mobile {
        font-family: "Coolvetica Rg", Arial, sans-serif;
        font-size: 12px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-transform: uppercase;
        z-index: 2;
    }

    .footer-centre-mobile {
        margin-top: 20px;
        text-transform: uppercase;
        text-align: center;
    }

    .carousel-container {
        margin-top: 200px;
    }

    .custom-container{
        display: block;
        justify-content: center;
    }

    .custom-box {
        text-align: center;
        width: 40%;
        height: auto;
        padding: 10px;
        margin-right: 0px;
        margin: 0 auto;
        word-wrap: break-word;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .custom-box-1 {
        word-break: break-word;
        display: flex;
        /* Add this line */
        flex-direction: column;
        /* Add this line */
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .custom-box-2 {
        padding: 10px;
        margin-right: 0px;
        margin: 0 auto;
        margin-bottom: 50px;
        word-wrap: break-word;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .custom-box-3 {
        font-size: 10px;
        font-weight: 400;
        line-height: 25px;
        letter-spacing: 0em;
    }
    

    .services-title {
        margin-bottom: 20px;
    }

    .services-list {
        font-size: 30px;
        font-weight: 400;
        line-height: 1.4;
    }

    .cases-image-placeholder {
        display: none;
    }

    .section-title {
        text-align: center;
        margin-bottom: 30px;
    }

    .cases-no,
    .cases-subtitle {
        font-size: 12px;
    }

    .cases-title {
        font-size: 30px;
        line-height: 1;
        letter-spacing: 0em;
        margin-top: 0px;
    }
    
    .slider-wrapper{
        margin-bottom: 25px;
    }

    .custom-container-slider{
        text-align: left;
    }

    .custom-box-slider{
        text-align: left;
        width: 50%;
    }

    .price-2 {
        font-size: 40px;
        width: auto;
    }

    #text-circle-container {
        width: 90%;
        left: 10%;
        overflow: hidden;
        text-align: right;
        margin-top: -200px;
    }

    .cases-left, .padding-18{
        padding: 18px;
    }

    #text-circle {
        right: -35vh;
    }

    .info-titles {
        display: none;
    }

    .info-titles-mobile{
        display: block;
    }

    .cases-subtitle {
        display: block;
        margin-left: 3vh;
        margin-top: 1vh;
    }

    .email {
        width: 100%;
        justify-content: right;
    }

    #sticker-logo {
        height: 13vh;
        margin-top: -35px;
        margin-right: 20px;
    }

    .email {
        width: 100%;
        justify-content: left;
    }

    .image-container img {
        max-width: 100%;
        max-height: 100%;
        position: absolute;
        top: auto;
        left: auto;
    }


}

@media (max-width: 945px) {

    .custom-box-slider{
        padding: 0px;
        width: 100%;
    }

}

@media (max-width: 1137px) {

    .custom-box-slider{
        padding: 0px;
    }

}


/* Styles for tablet devices */
@media (min-width: 768px) and (max-width: 1024px) {}

@media (max-width: 1137px) {
    /* Styles for screens with a width of 1137px or more */


  }

  @media (min-width: 1700px) {
    /* Styles for screens with a width of 2000px or more */

    .custom-box-slider{
        padding: 100px;
    }

    .price-2{
        width: max-content;
    }

    .paragraph-2{
        width: max-content;
    }
  }