* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    background-color: transparent;
}

#logo-left img {
    height: 80px;
    width: auto;
    text-align: left;
    padding: 4%;
}

#logo-right img {
    float: right;
    /* add this line */
    height: 80px;
    max-width: 100%;
    padding: 4%;
}

main {
    height: 100vh;
}

section {
    height: 100vh;
    display: flex;
}

.column {
    flex: 1;
}

#viewport-text{
    
    color: white;
    font-family: Helvetica;
    font-style: normal;
    font-size: 2vh;
    line-height: 4vh;
   
    text-align: left;
    position: absolute;
    bottom: 0;
    left: 0;
    
    width: 50%;
    padding-left: 4vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-right: 10vh;
   
    box-sizing: border-box;
    text-align: justify;
   
}



#NIKE {
  
    display: inline-block;
    font-size: 15vh;
    color: white;
    line-height: 1;
    margin-bottom: 0%;
    padding-bottom: 10vh;
  }
  
  #WEBSITE-REDISIGN {
    display: inline-block;
    font-size: 2vh; /* Increase the font size for readability */
    color: white;
    vertical-align: top; /* Align the top of the element with the top of the line */
    line-height: 1;
    margin-bottom: 0%;
    
 
  }
  

.column-right img {

    width: 100%;
    height: 100%;
    object-fit: contain;
    
}

.viewport-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
}

.viewport-3 img {
    max-width: 100%;
    max-height: 100%;
}
