.item-6 {
    position: relative;
    width: 50px;
    height: 50px;
    &:before, &:after {
      content: "";
      position: absolute;
      height: 2px;
      width: 50%;
      background-color: #FFF;
      transition: width .2s ease-out;
    }
    &:before {
      transform: rotate(45deg);
      left: 7px;
      top: 7px;
      transform-origin: left;
    }
    &:after {
      transform: rotate(-45deg);
      right: 7px;
      top: 7px;
      transform-origin: right;
    }
    .inner {
      color: #FFF;
      &:before, &:after {
        content: "";
        position: absolute;
        height: 2px;
        width: 50%;
        background-color: #FFF;
        transition: width .2s ease-out;
      }
      &:before {
        transform: rotate(45deg);
        transform-origin: right;
        bottom: 6px;
        right: 8px;
      }
      &:after {
        transform: rotate(-45deg);
        transform-origin: left;
        bottom: 6px; 
        left: 8px;
      }
    }
    .label {
      opacity: 0;
      transition: all .2s ease-out;
    }
    &:focus, &:hover {
      &:before, &:after {
        width: 10px;
      }
      .inner {
        &:before, &:after {
          width: 10px;
        }
      }
      .label {
        opacity: 1;
      }
    }
  }